<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="WWConString" connectionString="data source=.\sqlexpress; initial Catalog=WWSecurity;Integrated Security=True"
            providerName="System.Data.SqlClient" />
         <add name="WWConStrings" connectionString="data source=.\sqlexpress; initial Catalog=WWCRM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>